<app-header></app-header>
<div class="main-content-wrapper-body">
    <div>
        <app-sidebar [isOpen]="isSidebarOpen" (toggle)="onSidebarToggle($event)">
        </app-sidebar>
        <div class="main-content" [ngClass]="{'shifted': isSidebarOpen }">
            <section class="header-title-sec" [ngStyle]="{ 'margin-left': sidebarWidth + 'px' }">
                <app-sub-header style="height: 10px !important"></app-sub-header>
            </section>
            <router-outlet></router-outlet>

        </div>
    </div>
    <!-- <footer [ngStyle]="{'margin-left': sidebarWidth + 'px'}">

        <div class="copyright">Copyright © BluePond.AI. {{getyear()}}. All rights reserved.</div>
    </footer> -->
</div>