.stepper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.stepper__step {
  width: 100px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 25px;

  &:after {
    content: "";
    background: grey;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 100%;
    top: 14px;
  }

  &:first-child:after {
    display: none;
  }
}

.stepper__step__index {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: grey;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.stepper__step--done .stepper__step__index {
  background: #0b8161;
}
.stepper__step--inprogress .stepper__step__index {
  background: #348cff;
}
.stepper__step--failed .stepper__step__index {
  background: #f93232;
}
.stepper__step--pending .stepper__step__index {
  background: grey;
}

.stepper__step__label {
  font-size: 12px;
  text-align: center;
  color: black;
  margin-top: 2px;
}

.stepper__step--done .stepper__step__label {
  color: #199473;
}
.stepper__step--inprogress .stepper__step__label {
  color: #348cff;
}
.stepper__step--failed .stepper__step__label {
  color: #f93232;
}
.stepper__step--pending .stepper__step__label {
  color: grey;
}
