<header>
  <div class="container-fluid d-flex justify-content-center">
    <div class="me-auto">
      <img class="logo" src="../../../assets/images/bluepond-logo.png" alt="Bluepond"
        style="width: auto; height:36px; cursor: pointer" routerLink="/layout" />
    </div>
    <div class="dropdown user-menu">
      <a class="d-block" data-bs-toggle="dropdown">
        <img src="../../../assets/images/User-image" alt="Profile" class="profile-img" />
      </a>
      <ul class="dropdown-menu">
        <li class="user-info">
          <div class="profile-bg">{{ profileInitial }}</div>
          <div class="user-details">
            <span class="user-name">{{ userEmail }}</span>
          </div>
        </li>
        <hr />
        <ng-container *ngFor="let item of menuItems">
          <li *ngIf="!item.isSignOut">
            <a class="dropdown-item" (click)="handleMenuAction(item.action)">
              {{ item.label }}
            </a>
          </li>
          <hr *ngIf="!item.isSignOut" />
        </ng-container>
        <li>
          <a class="dropdown-item sign-out" (click)="handleMenuAction('signOut')">
            Sign out
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>