<app-loader [isLoading]="isLoading"></app-loader>

<!-- Stepper Component -->
<app-stepper 
  [workType]="workType" 
  [currentSteps]="steps" 
  [loading]="isLoading">
</app-stepper>

<div class="tenant-details header">
  <div class="d-flex align-items-center">
    <span class="cursor-pointer mx-1" title="Back" (click)="navigateBack()">
      <svg width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
        <path d="M224 480h640a32 32 0 110 64H224a32 32 0 010-64z" />
        <path
          d="M237.248 512l265.408 265.344a32 32 0 01-45.312 45.312l-288-288a32 32 0 010-45.312l288-288a32 32 0 1145.312 45.312L237.248 512z" />
      </svg>
    </span>
    <span class="cursor-pointer mx-2" title="Refresh" (click)="onRefresh()">
      <svg width="20px" height="20px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M27.1 14.313V5.396L24.158 8.34c-2.33-2.325-5.033-3.503-8.11-3.503C9.902 4.837 4.901 9.847 4.899 16c.001 6.152 5.003 11.158 11.15 11.16 4.276 0 9.369-2.227 10.836-8.478l.028-.122h-3.23l-.022.068c-1.078 3.242-4.138 5.421-7.613 5.421a8 8 0 0 1-5.691-2.359A7.993 7.993 0 0 1 8 16.001c0-4.438 3.611-8.049 8.05-8.049 2.069 0 3.638.58 5.924 2.573l-3.792 3.789H27.1z" />
      </svg>
    </span>
  </div>
</div>

<div class="modal-body">
  <div class="tab-section">
    <div class="form-group form_field_wrapper custom-task-page table-responsive contact-table">
      <table class="table custome-table my-3 table-hover table-bordered">
        <thead class="table">
          <tr>
            <th width="4%">Step Name</th>
            <th width="8%">Process Time </th>
            <th width="3%">Status</th>
            <th width="7%">Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let step of steps">
            <td>{{ step.step_name || '-' }}</td>
            <td>
               {{
                      step.process_time
                        ? (step.process_time
                          | formatDateTime : "MM-dd-yyyy, HH:mm:ss")
                        : "-"
                    }}
            </td>
            <td>
              <span>
                  <div class="content-badge"
                         [ngClass]="getStatusBadge(step.step_status).statusClass"
                         style="cursor: pointer;">
                      • {{ getStatusBadge(step.step_status).statusText }}
                    </div>
              </span>
            </td>
            <td>{{ step.comments || '-' }}</td>
          </tr>
          <tr *ngIf="steps.length === 0">
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>