<main class="wrapper-login login-bg">
	<div class="container-fluid">
		<div class="row d-flex align-items-stretch">
			<div class="col-md-5 col-xl-6 login-bg-left d-flex align-items-center">
				<div>
					<img class="logo" src="../../../assets/images/logo-bluepond-login.svg" alt="capture">
					<h1 class="mb-1">BluePond.AI brings you Agentic Automation for P&C Insurance</h1>

					<p class="mb-md-4 pt-1 pb-2"></p>
					<div class="policy-sec">
						<img src="../../../assets/images/icon-quote-compare.svg" alt="">
						<h3>Intelligent Catalysts Library</h3>
						Catalyst Agents to boost Operational Efficiency, Customer Experience and Excellence in Business Ops.
					</div>
				</div>
			</div>
			<div class="col-md-7 col-xl-6 login-bg-right d-flex align-items-center justify-content-center">
				<div>
					<div class="content-badge">GenAI-powered</div>
					<h1>Automation Status Tracking </h1>
					<p class="text-light">Catalyst Agents to boost Operational Efficiency, <br>Customer Experience and Excellence in Business Ops.</p>
					<h2>Login to your account</h2>
					<div class="login-form">
						<form [formGroup]="loginForm">
							<div class="form-group">
								<label class="form-label" for="loginEmail">Email<span
										class="require-field">*</span></label>
								<div class="d-flex">
									<input type="email" maxlength="254" class="form-control" id="email"
										placeholder="Your email" formControlName="email"
										(input)="onInputChange($event)">
								</div>
								<div *ngIf="isSubmitted && loginFormControl['email'].errors"
									class="form-text require-field">
									<span *ngIf="loginFormControl['email'].errors['required']">Email is required</span>
									<span *ngIf="loginFormControl['email'].errors['pattern']">Enter a valid
										pattern</span>
								</div>
							</div>
							<button class="btn-custom color-white w-100" (click)="onUserLogin()">Login</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="copyright">Copyright © BluePond.AI. {{getyear()}}. All rights reserved.</div>
		</footer>
	</div>
	<app-loader [isLoading]="isLoading"></app-loader>
</main>