<!-- <div class="loader-content">
  <!-- Loader -->
  <!-- <app-loader *ngIf="loading && !workFlow"></app-loader> -->

  <!-- Loading message -->
  <div *ngIf="loading && workFlow?.length === 0" class="fs-4 d-flex justify-content-center">
    Loading Work Flow...
  </div>

  <!-- Stepper -->
  <div class="d-flex w-100 justify-content-center" *ngIf="workFlow && workFlow.length > 0">
    <div class="stepper">
      <div 
        *ngFor="let item of workFlow; index as i"
        [ngClass]="['stepper__step', getStepClass(item, i)]"
        [title]="item?.status_message || ''"
      >
        <!-- Step Index -->
        <span class="stepper__step__index">
          {{
            item?.status?.toLowerCase() === 'failed'
              ? 'X'
              : getStatusClass(item, i)
                ? '✓'
                : (i + 1)
          }}
        </span>

        <!-- Step Label -->
        <h6 class="stepper__step__label">
          {{ item?.step || '-' }}
        </h6>
      </div>
    </div>
  </div>
</div> -->